
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
    --primary-color-1: hsl(225, 100%, 94%);
    --primary-color-2: hsl(245, 75%, 52%);
    --natural-color-1: hsl(225, 100%, 98%);
    --natural-color-2: hsl(224, 23%, 55%);
    --natural-color-3: hsl(223, 47%, 23%);
    --font-size: 16px;
}

body{
    background: var(--primary-color-1);
}
